.formPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}

.formPage .logo {
  width: 50px;
}

.formPage form {
  width: 400px;
  max-width: 900px;
  height: fit-content;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px #8f8f8f76;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.formPage form button {
  width: fit-content;
  padding: 10px 30px;
  margin: 0 auto;
  background: gray;
  color: white;
  border: none;
}
